In [1]:
## System information and selected package test.
import sys
import platform
import uuid
import pandas as pd

In [2]:
print(f"My operating system is {platform.system()}")
print(platform.architecture())

My operating system is Linux
('64bit', 'ELF')

In [3]:
print(f"My CPU is {platform.processor()}")

My CPU is x86_64

In [4]:
print(f"Python version:")
print(sys.version)

Python version:
3.9.16 (main, Mar  8 2023, 14:00:05)
[GCC 11.2.0]

In [5]:
print(f"pandas version is {pd.__version__}")

pandas version is 1.5.3

In [6]:
# recent NASDAQ-100 index values
fcsv = "https://raw.githubusercontent.com/multidis/hult-ai-investment-management/main/preclass/NDX.csv"
pd.read_csv(fcsv, parse_dates=True)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-05-08,13247.089844,13302.429688,13193.080078,13291.639648,13291.639648,4216360000
1,2023-05-09,13228.639648,13254.809570,13193.879883,13201.110352,13201.110352,4126780000
2,2023-05-10,13308.410156,13384.419922,13204.790039,13347.830078,13347.830078,4948260000
3,2023-05-11,13376.849609,13411.700195,13306.080078,13389.780273,13389.780273,4489490000
4,2023-05-12,13407.019531,13427.419922,13256.559570,13340.179688,13340.179688,4170000000

In [7]:
print("Finally, something unique:")
print(uuid.uuid4())

Finally, something unique:
367796ae-2e6b-46b4-b635-c295e0ce77ad

In [8]:
print("If no errors/warnings, I am good to go with my Python setup. Look over various tutorials!")

If no errors/warnings, I am good to go with my Python setup. Look over various tutorials!