In [1]:
# Comment lines are ignored by the interpreter.

In [2]:
# packages: "batteries included"
# environments: avoid conflicts of package versions etc.
#
# Create a new environmentExample:
#$ conda env create -f envinit.yml

In [3]:
# working with interactive interpreter (Terminal, Jupyter notebook, IDE)
2 + 3

5

In [4]:
2.5 + 3

5.5

In [5]:
# objects as instances of classes
type(2)

int

In [6]:
type(2.5)

float

In [7]:
type("investment management")

str

In [8]:
# assignment
n = 3
m = 5

In [9]:
m

5

In [10]:
#mm

In [11]:
course = "Artificial Intellitgence for"
course_category = "Investment Management"

In [12]:
# polymorphism
m + n

8

In [13]:
course + course_category

'Artificial Intellitgence forInvestment Management'

In [14]:
#TODO make this string have proper spacing
course + " " + course_category

'Artificial Intellitgence for Investment Management'

In [15]:
# fails for mismatched types
#"course" + 1

In [16]:
# convert to string type
"course" + str(1)

'course1'

In [17]:
# or use so-called f-string
f"course{1}"

'course1'

In [18]:
# more generally:
ncourse = 5
f"course{ncourse}"

'course5'

In [19]:
# functions
def add_space(s1, s2):
    s = s1 + " " + s2
    return s

In [20]:
# error
#add_space("something")

In [21]:
add_space("something", "else")

'something else'

In [22]:
# controlling the flow: conditionals
def describe_sentiment(score):
    if score < 0:
        s = "negative"
    elif score == 0:
        s = "neutral"
    else:
        s = "positive"
    return s + " sentiment"

In [23]:
describe_sentiment(2)

'positive sentiment'

In [24]:
describe_sentiment(-1)

'negative sentiment'

In [25]:
describe_sentiment(0)

'neutral sentiment'

In [26]:
#TODO write and test a function that returns your name if given "student" and course name if given "course"
def student_course(spec):
    if spec == "student":
        return "Pavel Paramonov"
    elif spec == "course":
        return "AI for Investment Management"
    return ""

In [27]:
student_course("student")

'Pavel Paramonov'

In [28]:
student_course("course")

'AI for Investment Management'

In [29]:
# note: a more defensive approach would be to raise an exception (depends on the purpose/use of the function)
student_course("something else")

''

In [30]:
# more on strings (working wih text)
s = 'QQQ GLD TLT' # single or double quotes
type(s)

str

In [31]:
len(s)

11

In [32]:
# make lower-case
# NOTE: in Python, methods are "packed" in class (type) definition
s.lower()

'qqq gld tlt'

In [33]:
# string is a sequence of characters;
# CAUTION: python start index numbering with 0, not 1
s[1]

'Q'

In [34]:
s[0]

'Q'

In [35]:
#TODO tell me the 11th character in string s
s[10]

'T'

In [36]:
# last character
s[-1]

'T'

In [37]:
# second-to-last character
s[-2]

'L'

In [38]:
# range of characters
s[-3:]

'TLT'

In [39]:
# split on white space
s.split()

['QQQ', 'GLD', 'TLT']

In [40]:
# here we encounter a list
type(s.split())

list

In [41]:
len(s.split())

3

In [42]:
# iterating through a data structure
for ticker in s.split():
    print(f"Current price of {ticker}")

Current price of QQQ
Current price of GLD
Current price of TLT

In [43]:
#TODO iterate over split parts and write URLs ending with .com

In [44]:
# TODO the same but in lowercase